{% extends 'theme/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen px-4">
    <h1 class="text-3xl font-bold mb-8 text-center">Menu Logística</h1>

    <div class="flex flex-col gap-4 w-full max-w-md sm:max-w-lg md:justify-center">

        <!-- <a href="{% url 'orders' %}" class="w-full">
            <button class="w-full bg-pink-500 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded shadow transition">
                Registar Orders
            </button>
        </a>-->

        <a href="{% url 'listarOrders' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Orders to TT
            </button>
        </a>

        {% if is_admin %}

        <!-- <a href="{% url 'adicionarTracking' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
            Adicionar Tracking
            </button>
        </a> -->

        <a href="{% url 'listarTracking' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
            Orders to customers
            </button> 
        </a>

        {% endif %}

    </div>
</div>
{% endblock %}
