services:
  db:
    image: postgres:16
    container_name: transport_db
    # Carrega todas as variáveis do .env automaticamente
    env_file: .env
    environment:
      # Mapeamento manual necessário porque o Postgres usa nomes específicos
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: transport_web
    depends_on:
      db:
        condition: service_healthy
    # AQUI ESTÁ O SEGREDO: Carrega o .env inteiro para dentro do Django
    env_file: .env
    ports:
      - "8020:8000"
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
    restart: unless-stopped